<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B610FB81F2A3E4700DF1A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B610FD41F2A3E4700DF1A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B610FDF1F2A3E4700DF1A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
